:host {
    display: flex;
    flex-direction: column;
    background-color: #f9f9f9;
    padding: 15px;
    align-items: center;
    padding: 15px 15px 15px 15px;
    border-radius: 10px;
    box-shadow: 0 2px 1px -1px rgba(0, 0, 0, .2), 0 1px 1px 0 rgba(0, 0, 0, .14), 0 1px 3px 0 rgba(0, 0, 0, .12);
    margin-top: 35px;
    min-height: 140px;
}

.file-no {
    font-size: 37px;
    padding: 20px 0;
}