<div class="search-f-name">
  <div class="reset-font">Search</div>
  <div class="upload-folder-word-container">
    <div class="folder-word">
      <img src="./assets/images/dashboard/gray-folder.svg" height="17">
      <span>New folder</span>
    </div>
    <div class="folder-word">
      <img src="./assets/images/dashboard/upload.svg" height="17">
      <span>Upload files</span>
    </div>
  </div>
</div>
<div class="form-wrapper">
  <div class="large-control control-container">
    <p>File Name</p>
    <div class="input-container">
      <img height="17" src="./assets/images/dashboard/search.svg">
      <input class="form-control" placeholder="Type to search...">
    </div>
  </div>
  <div class="small-control control-container">
    <p>File Size</p>
    <input class="form-control" placeholder="From">
  </div>
  <div class="small-control control-container">
    <input class="form-control" placeholder="To">
  </div>
  <div class="large-control control-container">
    <p>Uploaded Date</p>
    <div class="input-container">
      <img height="17" src="./assets/images/dashboard/calendar.svg">
      <input type="date" class="form-control" placeholder="Date">
    </div>
  </div>
  <div class="large-control control-container button-container">
    <button class="btn btn-search white-font">Search</button>
  </div>
</div>