<section class="side-header darker-bg-color">
  <img class="books-icon" src="./assets/images/side-menu/books.svg" height="50">
  <p class="white-font side-username">Ismail Elkomy</p>
  <p class="gray-font side-email">ismail.elkomy@gmail.com</p>
  <img src="./assets/images/side-menu/avatar.svg" height="50" class="side-profile-pic">
</section>
<section class="side-list-items white-font">
  <div class="side-list-item">
    <img width="15" src="./assets/images/side-menu/side-book.svg" class="side-item-icon">
    <span>My Library</span>
  </div>
  <div class="side-list-item">
    <img width="15" src="./assets/images/side-menu/side-user.svg" class="side-item-icon">
    <span>My Account</span>
  </div>
</section>