:host {
    flex: 0 0 50px;
    padding: 0 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.settings {
    display: flex;
    align-items: center;
}

.settings-img {
    margin-left: 10px;
}

.menu-img {
    margin-right: 20px;
}